{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ path('product_show', {'id': product.id}) }}">
                    <p>{{ product.name }}</p>
                </a>
                {# Immagine #}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
